.cards {
  gap: 30px;
  justify-content: center;
}

.card {
  width: 25%;
  height: fit-content;
  min-height: 100px;
  background-color: white;
  padding: 1vw;
}

.card img {
  margin: 1vw 0;
  max-width: 100%;
}

.card .row img {
  flex: 1;
  margin: 0;
}

.card .row {
  gap: 10px;
  margin-bottom: 1vw;
}

.card > .column {
  margin: 1.2vw 0;
}

.card .row .column {
  flex: 1;
}

.card button {
  background-color: var(--yellow);
  color: black;
  border: none;
  border-radius: 5px;
  width: 100%;
  padding: 0.5vw;
  font-size: 0.8vw;
  font-weight: 500;
  margin: 1vw 0;
  cursor: pointer;
}

.card button:hover {
  background-color: var(--yellow-dark);
}
