#categories {
  background-color: var(--secondary-color);
  color: white;
  font-size: 0.8rem;
  display: flex;
  gap: 10px;
}

.category {
  width: fit-content;
  border: 1px solid transparent;
  padding: 0.5rem;
}

.category:hover {
  cursor: pointer;
  border: 1px solid white;
}
