#categories {
  background-color: var(--secondary-color);
  color: var(--background-color);
  font-size: 0.8vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.category {
  width: fit-content;
  border: 1px solid transparent;
  padding: 0.5vw;
}

.category:hover {
  cursor: pointer;
  border: 1px solid var(--background-color);
}
