@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

:root {
  --background-color: #e3e6e6;
  --text-color: #0f1111;
  --primary-color: #121920;
  --secondary-color: #232f3f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Ubuntu", sans-serif;
}

body {
  background-color: var(--background-color);
}

.bold {
  font-weight: 700;
}

.small {
  font-size: 0.75rem;
}
